@NumberRollPrefixCls: ~'lightd-number-roll';

.@{NumberRollPrefixCls} {
  display: flex;
  align-items: center;
  user-select: none;
  line-height: 1;

  &-animate {
    position: relative;
    overflow: hidden;
    height: var(--lightd-number-roll-height);
    line-height: var(--lightd-number-roll-height);
    font-size: var(--lightd-number-roll-font-size);
  }

  &-animate-dot,
  &-animate-dom {
    line-height: 1;
    text-align: center;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-animate-dot-span,
  &-animate-dom-span {
    text-align: center;
    line-height: 1;
    width: auto;
    height: var(--lightd-number-roll-height);
    font-size: var(--lightd-number-roll-font-size);
    display: grid;
    place-items: center;
  }

  &-animate-dom-span-char {
    // width: min-content;
    width: auto;
  }

  &-animate-dot-span {
    line-height: 0.72;
    width: 16px;
    place-items: inherit;
  }
}
